@import url("https://fonts.googleapis.com/css?family=Sen:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1.1rem; }

body, html {
  height: 100%;
  font-family: 'Sen', sans-serif; }

strong {
  color: #333333; }

img {
  width: 100%; }

.container {
  width: 90%;
  margin: 0 auto; }

.flex {
  display: flex; }

p {
  color: #535353;
  line-height: 32px; }

.cta {
  display: inline-block;
  padding: .9em 1.1em;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s; }
  .cta:hover {
    opacity: 0.8; }

.cta-primary {
  background-color: #F350FF;
  color: rgba(255, 255, 255, 0.85); }

.cta-alternate {
  background-color: rgba(255, 255, 255, 0.65);
  color: #F350FF; }

.footer {
  background: url("../img/footerbg.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  position: relative; }
  .footer:after {
    content: "";
    width: 100%;
    height: 100%;
    background: #400f55;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.95; }
  .footer .container {
    max-width: 1800px;
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 105px; }
    .footer .container strong {
      margin: 0 0 30px 0;
      display: block;
      color: rgba(255, 255, 255, 0.65); }
    .footer .container .about-company {
      grid-column: span 2; }
    .footer .container .shop {
      padding: 0; }
      .footer .container .shop a {
        margin: 0 0 20px 0;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        opacity: 0.9;
        transition: 0.3s;
        cursor: pointer;
        display: block; }
        .footer .container .shop a:hover {
          opacity: 1;
          color: white; }
    .footer .container .social li {
      margin: 0 0 15px 0; }
    .footer .container .social i {
      font-size: 1.8rem;
      color: rgba(255, 255, 255, 0.5);
      opacity: 0.7;
      transition: 0.3s; }
      .footer .container .social i:hover {
        opacity: 1; }
    .footer .container .newsletter {
      grid-column: span 2; }
      .footer .container .newsletter .newsletter-input-container {
        width: 25rem;
        position: relative; }
        .footer .container .newsletter .newsletter-input-container .newsletter-input {
          display: inline-block;
          padding: 1em 2em;
          font-size: 1.254rem; }
        .footer .container .newsletter .newsletter-input-container a {
          border: none;
          background: #F350FF;
          padding: 1.45em 1em;
          position: absolute;
          right: 10px;
          cursor: pointer;
          transition: 0.3s;
          opacity: 1;
          color: rgba(255, 255, 255, 0.85); }
          .footer .container .newsletter .newsletter-input-container a:hover {
            opacity: 0.9; }

.hero {
  background: url("../img/hero-img.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .hero::after {
    content: "";
    width: 100vw;
    height: 100vh;
    background: -moz-linear-gradient(61deg, #400f55 44%, #e148ec 78%);
    background: -webkit-linear-gradient(61deg, #400f55 44%, #e148ec 78%);
    background: linear-gradient(61deg, #400f55 44%, #e148ec 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#400f55",endColorstr="#e148ec",GradientType=1);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
    z-index: 1; }
  .hero header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: relative; }
    .hero header .brand .logo {
      width: 35px;
      opacity: 0.9;
      margin: 0 11px 0 0; }
    .hero header .brand .white-colour {
      color: #ffffff;
      transition: 0.6s; }
    .hero header .brand .light-grey {
      color: #F350FF;
      transition: 0.6s; }
    .hero header .brand a {
      display: flex;
      align-items: center;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.1rem;
      letter-spacing: 5px;
      text-decoration: none;
      transition: 0.3s; }
      .hero header .brand a:hover {
        opacity: 0.8; }
        .hero header .brand a:hover .white-colour {
          color: #F350FF; }
        .hero header .brand a:hover .light-grey {
          color: white; }
    .hero header .nav-list {
      width: 320px;
      justify-content: space-between;
      position: relative; }
      .hero header .nav-list .nav-list-item a {
        font-size: 1.2rem;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        transition: 0.3s;
        cursor: pointer; }
        .hero header .nav-list .nav-list-item a:hover {
          color: white; }
      @media screen and (max-width: 768px) {
        .hero header .nav-list {
          display: none;
          width: 100%;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          height: 100vh;
          position: absolute;
          top: 0;
          right: -10%;
          background: #400f55;
          opacity: 0.90;
          transform: translateX(100%);
          transition: transform 0.5s ease-in; } }
    .hero header .active {
      display: flex;
      transform: translateX(0%); }
    .hero header .hamburger-menu {
      display: none;
      cursor: pointer; }
      .hero header .hamburger-menu span {
        width: 33px;
        height: 3px;
        background: rgba(255, 255, 255, 0.5);
        display: block;
        transition: 0.3s; }
        .hero header .hamburger-menu span:nth-child(1), .hero header .hamburger-menu span:nth-child(3) {
          width: 27px; }
        .hero header .hamburger-menu span:nth-child(2) {
          margin: 4px 0; }
      .hero header .hamburger-menu:hover span {
        width: 33px; }
      @media screen and (max-width: 750px) {
        .hero header .hamburger-menu {
          display: block; } }
    .hero header .mobile-menu-close {
      cursor: pointer;
      transition: transform 0.3s ease-out; }
      .hero header .mobile-menu-close span {
        width: 33px;
        height: 3px;
        background: rgba(255, 255, 255, 0.5);
        display: block;
        transition: 0.3s;
        position: relative;
        display: none; }
        .hero header .mobile-menu-close span:nth-child(1), .hero header .mobile-menu-close span:nth-child(3) {
          width: 27px; }
        .hero header .mobile-menu-close span:nth-child(1) {
          transform: rotate(45deg) translate(0, 2px); }
        .hero header .mobile-menu-close span:nth-child(3) {
          transform: rotate(135deg) translate(0, 2px); }
        .hero header .mobile-menu-close span:nth-child(2) {
          margin: 4px 0;
          display: none; }
        @media screen and (max-width: 750px) {
          .hero header .mobile-menu-close span {
            display: block; } }
      @media screen and (max-width: 750px) {
        .hero header .mobile-menu-close {
          display: block; } }
      .hero header .mobile-menu-close:hover {
        transform: scale(1); }
  .hero .hero-text-container {
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    position: relative;
    z-index: 2; }
    .hero .hero-text-container .hero-head-text span {
      display: block;
      text-transform: uppercase; }
    .hero .hero-text-container .hero-head-text .small-hero-header-text {
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.65);
      font-family: 'Mansalva', cursive; }
      @media screen and (max-width: 700px) {
        .hero .hero-text-container .hero-head-text .small-hero-header-text {
          font-size: 1.5rem; } }
      @media screen and (max-width: 590px) {
        .hero .hero-text-container .hero-head-text .small-hero-header-text {
          font-size: 1.2rem; } }
    .hero .hero-text-container .hero-head-text .big-hero-header-text {
      font-size: 5.5rem;
      color: rgba(255, 255, 255, 0.85);
      margin: -10px 0 25px 0;
      font-family: 'Mansalva', cursive; }
      @media screen and (max-width: 700px) {
        .hero .hero-text-container .hero-head-text .big-hero-header-text {
          font-size: 4.5rem; } }
      @media screen and (max-width: 590px) {
        .hero .hero-text-container .hero-head-text .big-hero-header-text {
          font-size: 3.5rem;
          margin-top: -5px; } }
      @media screen and (max-width: 435px) {
        .hero .hero-text-container .hero-head-text .big-hero-header-text {
          font-size: 2.5rem; } }
    .hero .hero-text-container .hero-paragraph {
      width: 55ch;
      font-size: 1.23rem;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 45px; }
      @media screen and (max-width: 700px) {
        .hero .hero-text-container .hero-paragraph {
          width: 45ch;
          font-size: 1.15rem; } }
      @media screen and (max-width: 590px) {
        .hero .hero-text-container .hero-paragraph {
          width: 40ch;
          font-size: 1.1rem; } }
      @media screen and (max-width: 435px) {
        .hero .hero-text-container .hero-paragraph {
          width: 32ch;
          font-size: 1.05rem; } }
    .hero .hero-text-container .offer-text {
      align-items: center; }
      .hero .hero-text-container .offer-text span {
        color: white;
        display: inline-block;
        margin-left: 17px;
        font-weight: bold; }

.steps-to-order {
  padding: 150px 0 100px;
  margin-bottom: 100px;
  background: url("../img/stepsbg.jpg") no-repeat center center;
  background-size: cover;
  position: relative; }
  .steps-to-order:after {
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.90; }
  .steps-to-order .container {
    max-width: 1500px;
    flex-direction: column;
    position: relative;
    z-index: 5; }
    .steps-to-order .container h2 {
      margin: 0 0 85px 0;
      color: #959595; }
    .steps-to-order .container .step:nth-child(3) {
      margin: 65px 0; }
    .steps-to-order .container .step .head-icon {
      align-items: start; }
      @media screen and (max-width: 500px) {
        .steps-to-order .container .step .head-icon {
          align-items: center; } }
    .steps-to-order .container .step img {
      width: 120px;
      margin: 5px 30px 0 0; }
      @media screen and (max-width: 500px) {
        .steps-to-order .container .step img {
          width: 60px;
          max-width: 65ch; } }
    .steps-to-order .container .step strong {
      font-size: 1.3rem; }
    .steps-to-order .container .step p {
      margin: -70px 0 0 154px;
      opacity: 0.8;
      max-width: 70ch; }
      @media screen and (max-width: 500px) {
        .steps-to-order .container .step p {
          width: 95%;
          max-width: 65ch;
          margin: 20px 0 0 0; } }

.top-designs {
  margin-bottom: 150px; }
  @media screen and (max-width: 780px) {
    .top-designs {
      margin-bottom: 0px; } }
  .top-designs .container {
    max-width: 1500px; }
  .top-designs .title-container {
    justify-content: space-between;
    margin: 0 0 30px 0; }
    @media screen and (max-width: 600px) {
      .top-designs .title-container {
        display: block; }
        .top-designs .title-container h3 {
          margin: 0 0 15px 0; } }
  .top-designs p {
    text-align: right; }
    .top-designs p span {
      display: block; }
      @media screen and (max-width: 600px) {
        .top-designs p span span {
          display: inline;
          float: left; } }
      .top-designs p span:nth-child(3) a {
        color: #F350FF;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer; }
        .top-designs p span:nth-child(3) a:hover {
          opacity: 0.8; }
      @media screen and (max-width: 600px) {
        .top-designs p span {
          text-align: left;
          width: 95%; } }
  .top-designs .designs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px; }
    .top-designs .designs .design {
      position: relative;
      overflow: hidden; }
      .top-designs .designs .design img {
        transition: transform 0.7s;
        object-fit: cover;
        height: 100%;
        opacity: 0.8; }
      .top-designs .designs .design span {
        position: absolute;
        width: 100%;
        height: 101%;
        background: -moz-linear-gradient(0deg, white 0%, rgba(225, 72, 236, 0) 20%);
        background: -webkit-linear-gradient(0deg, white 0%, rgba(225, 72, 236, 0) 20%);
        background: linear-gradient(0deg, white 0%, rgba(225, 72, 236, 0) 20%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#400f55",endColorstr="#e148ec",GradientType=1);
        z-index: 2;
        left: 0;
        opacity: 0.5; }
      .top-designs .designs .design p {
        display: none;
        position: absolute;
        bottom: 30px;
        font-size: 2.8rem;
        z-index: 7;
        font-weight: bold;
        opacity: 0.95;
        margin-left: 20px;
        transition: all 0.5s; }
      .top-designs .designs .design:hover img {
        transform: scale(1.1);
        opacity: 1; }
      .top-designs .designs .design:hover p {
        color: #F350FF;
        display: block; }

.why-use {
  background: url("../img/steps2bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  position: relative; }
  .why-use:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }
  .why-use .container {
    max-width: 1800px;
    position: relative;
    z-index: 5; }
    .why-use .container h4 {
      margin: 0 0 100px 0; }
    .why-use .container .articles {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
      grid-gap: 50px;
      margin: 0 0 50px 0; }
      @media screen and (max-width: 780px) {
        .why-use .container .articles {
          display: block; } }
      .why-use .container .articles article strong {
        margin: 0 0 30px 0;
        display: block; }
      .why-use .container .articles article p {
        width: 40ch;
        opacity: 0.8; }
      @media screen and (max-width: 780px) {
        .why-use .container .articles article {
          margin-bottom: 45px; }
          .why-use .container .articles article p {
            width: 90%;
            max-width: 65ch; } }
    .why-use .container .statistics {
      max-width: 300px;
      justify-content: space-between;
      margin: 0 auto; }
      @media screen and (max-width: 780px) {
        .why-use .container .statistics {
          margin: 0 0 35px 0; } }
      .why-use .container .statistics .statistic span {
        display: block;
        text-align: center; }
        .why-use .container .statistics .statistic span:nth-child(1) {
          font-size: 3rem;
          color: #F350FF;
          font-weight: bold; }
        .why-use .container .statistics .statistic span:nth-child(2) {
          color: #333333;
          opacity: 0.8; }

#shop-page main, #wear-page main {
  height: 10vh;
  background-position: top left; }

.discount-banner {
  padding: 8px;
  background: #F350FF;
  text-align: center;
  margin: 0 0 50px 0; }
  .discount-banner p {
    color: white;
    font-weight: bold; }

.breadcrumps {
  margin: 0 0 30px 0; }
  .breadcrumps .container {
    max-width: 1800px; }
  .breadcrumps p {
    opacity: 0.7; }

.shop-items {
  padding: 0 0 150px 0; }
  .shop-items .container {
    max-width: 1800px;
    display: grid;
    grid-template-columns: 300px auto; }
    @media screen and (max-width: 700px) {
      .shop-items .container {
        display: block; } }
    .shop-items .container .shop-description h2 {
      margin: 0 0 45px 0; }
    .shop-items .container .shop-description p {
      width: 30ch; }
      @media screen and (max-width: 700px) {
        .shop-items .container .shop-description p {
          width: 90%;
          max-width: 60ch; } }
    .shop-items .container .shop-description ul {
      margin: 45px 0 0 0; }
      @media screen and (max-width: 700px) {
        .shop-items .container .shop-description ul {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          flex-flow: wrap; } }
      .shop-items .container .shop-description ul li {
        margin: 0 0 20px 0; }
        .shop-items .container .shop-description ul li a {
          text-decoration: none;
          color: #333333;
          transition: 0.3s;
          cursor: pointer; }
          .shop-items .container .shop-description ul li a:hover {
            color: #F350FF; }
    .shop-items .container .shop-designs .designs {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 20px; }
      .shop-items .container .shop-designs .designs .design {
        position: relative;
        overflow: hidden; }
        .shop-items .container .shop-designs .designs .design img {
          transition: transform 0.7s;
          object-fit: cover;
          height: 100%;
          opacity: 0.8; }
        .shop-items .container .shop-designs .designs .design span {
          position: absolute;
          width: 100%;
          height: 101%;
          background: -moz-linear-gradient(0deg, white 0%, rgba(225, 72, 236, 0) 20%);
          background: -webkit-linear-gradient(0deg, white 0%, rgba(225, 72, 236, 0) 20%);
          background: linear-gradient(0deg, white 0%, rgba(225, 72, 236, 0) 20%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#400f55",endColorstr="#e148ec",GradientType=1);
          z-index: 2;
          left: 0;
          opacity: 0.5; }
        .shop-items .container .shop-designs .designs .design p {
          display: none;
          position: absolute;
          bottom: 30px;
          font-size: 2.8rem;
          z-index: 7;
          font-weight: bold;
          opacity: 0.95;
          margin-left: 20px;
          transition: all 0.5s; }
        .shop-items .container .shop-designs .designs .design:hover img {
          transform: scale(1.1);
          opacity: 1; }
        .shop-items .container .shop-designs .designs .design:hover p {
          color: #F350FF;
          display: block; }

.single-wear {
  padding: 0 0 150px 0; }
  .single-wear .container {
    max-width: 1800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(628px, 1fr));
    grid-gap: 30px; }
    @media screen and (max-width: 959px) {
      .single-wear .container {
        display: block; } }
    @media screen and (max-width: 959px) {
      .single-wear .container .wear-thumbs {
        display: flex;
        position: absolute;
        bottom: -75px;
        transform: translate(50%, 50%);
        right: 50%; } }
    .single-wear .container .wear-thumbs figure {
      margin: 0 10px 5px 0;
      width: 100px; }
      @media screen and (max-width: 959px) {
        .single-wear .container .wear-thumbs figure {
          width: 100px;
          margin: 0 5px; } }
    .single-wear .container .wear-image {
      margin: 0 10px 0 0;
      position: relative; }
    .single-wear .container .wear-other-info h1 {
      margin: 0 0 25px 0; }
      @media screen and (max-width: 959px) {
        .single-wear .container .wear-other-info h1 {
          margin-top: 195px; } }
    .single-wear .container .wear-other-info p {
      width: 90%;
      max-width: 65ch;
      margin: 0 0 25px 0; }
    .single-wear .container .wear-other-info span {
      margin: 0 0 25px 0; }
      .single-wear .container .wear-other-info span a {
        text-decoration: none;
        color: #333333;
        transition: 0.3s; }
        .single-wear .container .wear-other-info span a:hover {
          color: #F350FF; }
    .single-wear .container .wear-other-info .measurement-box {
      margin: 15px 0 0 0; }
      .single-wear .container .wear-other-info .measurement-box .measurement-custom {
        overflow: hidden;
        width: 350px; }
        @media screen and (max-width: 959px) {
          .single-wear .container .wear-other-info .measurement-box .measurement-custom {
            width: 80%; } }
        .single-wear .container .wear-other-info .measurement-box .measurement-custom .measurement {
          float: left;
          margin: 0 30px 15px 0;
          display: block;
          border: none;
          border-bottom: 1px solid #333333;
          padding: 10px 0; }
          @media screen and (max-width: 959px) {
            .single-wear .container .wear-other-info .measurement-box .measurement-custom .measurement {
              width: 40%; } }
          @media screen and (max-width: 415px) {
            .single-wear .container .wear-other-info .measurement-box .measurement-custom .measurement {
              width: 100%; } }
    .single-wear .container .wear-other-info .measurement-standard {
      margin: 25px 0 10px 0; }
      .single-wear .container .wear-other-info .measurement-standard .standard-sizes {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px; }
    .single-wear .container .wear-other-info .fabric-quantity {
      margin: 0 0 35px 0; }
      .single-wear .container .wear-other-info .fabric-quantity input {
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .single-wear .container .wear-other-info .price {
      margin: 25px 0 0 0; }
      .single-wear .container .wear-other-info .price p {
        font-size: 2rem;
        font-weight: bold; }
    .single-wear .container .wear-other-info .wishlist {
      font-size: 0.80rem;
      text-decoration: none;
      margin: 0 0 0 15px; }

.related-designs {
  padding: 0 0 150px 0; }
  .related-designs .container {
    max-width: 1800px; }
    .related-designs .container h2 {
      margin: 0 0 35px 0; }
    .related-designs .container .designs {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 20px; }
      .related-designs .container .designs .design {
        position: relative;
        overflow: hidden; }
        .related-designs .container .designs .design img {
          transition: transform 0.7s;
          object-fit: cover;
          height: 100%;
          opacity: 0.8; }
        .related-designs .container .designs .design span {
          position: absolute;
          width: 100%;
          height: 101%;
          background: -moz-linear-gradient(0deg, white 0%, rgba(225, 72, 236, 0) 20%);
          background: -webkit-linear-gradient(0deg, white 0%, rgba(225, 72, 236, 0) 20%);
          background: linear-gradient(0deg, white 0%, rgba(225, 72, 236, 0) 20%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#400f55",endColorstr="#e148ec",GradientType=1);
          z-index: 2;
          left: 0;
          opacity: 0.5; }
        .related-designs .container .designs .design p {
          display: none;
          position: absolute;
          bottom: 30px;
          font-size: 2.8rem;
          z-index: 7;
          font-weight: bold;
          opacity: 0.95;
          margin-left: 20px;
          transition: all 0.5s; }
        .related-designs .container .designs .design:hover img {
          transform: scale(1.1);
          opacity: 1; }
        .related-designs .container .designs .design:hover p {
          color: #F350FF;
          display: block; }

.shopping-bag {
  padding: 0 0 130px 0; }
  .shopping-bag .container {
    max-width: 1800px; }
    .shopping-bag .container h1 {
      margin: 0 0 50px 0; }
    .shopping-bag .container .shopping-items-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
      .shopping-bag .container .shopping-items-container .shopping-items {
        grid-column: span 2; }
        .shopping-bag .container .shopping-items-container .shopping-items .shopping-item {
          margin: 0 0 20px 0; }
        .shopping-bag .container .shopping-items-container .shopping-items .wear {
          margin: 0 30px 0 0; }
          .shopping-bag .container .shopping-items-container .shopping-items .wear img {
            width: 150px; }
        .shopping-bag .container .shopping-items-container .shopping-items .description h2 {
          margin: -3px 20px 35px 0; }
        .shopping-bag .container .shopping-items-container .shopping-items .description a {
          cursor: pointer;
          opacity: 0.2;
          transition: 0.3s; }
          .shopping-bag .container .shopping-items-container .shopping-items .description a:hover {
            opacity: 1; }
            .shopping-bag .container .shopping-items-container .shopping-items .description a:hover:nth-child(2) {
              color: red; }
        .shopping-bag .container .shopping-items-container .shopping-items .description .fa-edit, .shopping-bag .container .shopping-items-container .shopping-items .description .fa-trash-alt {
          font-size: 1.4rem;
          margin-right: 10px; }
        .shopping-bag .container .shopping-items-container .shopping-items .description .measurement li {
          margin: 0 0 15px 0;
          color: #535353; }
          .shopping-bag .container .shopping-items-container .shopping-items .description .measurement li span {
            color: #333333; }
      .shopping-bag .container .shopping-items-container .subtotal {
        grid-column: span 1;
        width: 80%;
        background: rgba(0, 0, 0, 0.01);
        height: auto;
        padding: 0 0 30px 0; }
        @media screen and (max-width: 998px) {
          .shopping-bag .container .shopping-items-container .subtotal {
            margin: 35px 0 0 0; } }
        .shopping-bag .container .shopping-items-container .subtotal strong {
          font-size: 1.2rem;
          padding: 20px;
          display: block;
          text-align: center;
          background: #400f55;
          color: rgba(255, 255, 255, 0.65); }
        .shopping-bag .container .shopping-items-container .subtotal p {
          padding: 20px 20px 10px 20px; }
          .shopping-bag .container .shopping-items-container .subtotal p:nth-child(4) span {
            display: block;
            font-size: 2rem; }
          .shopping-bag .container .shopping-items-container .subtotal p span {
            font-weight: bold; }
          .shopping-bag .container .shopping-items-container .subtotal p:nth-child(4) {
            margin: 0 0 45px 0; }
        .shopping-bag .container .shopping-items-container .subtotal img {
          width: 200px;
          display: block;
          float: right;
          margin: 0 20px 0 0; }
        .shopping-bag .container .shopping-items-container .subtotal a {
          margin: 0 0 0 20px; }

.checkout {
  padding: 0 0 150px 0; }
  .checkout .container {
    max-width: 1800px; }
    .checkout .container h1 {
      margin: 0 0 35px 0; }
    .checkout .container .checkout-order-summary {
      justify-content: space-between; }
      .checkout .container .checkout-order-summary .customer-info .form-group {
        max-width: 80%;
        margin: 0 0 50px 0; }
        .checkout .container .checkout-order-summary .customer-info .form-group .customer-address {
          overflow: hidden; }
        .checkout .container .checkout-order-summary .customer-info .form-group .sub-head {
          margin: 0 0 20px 0;
          display: block;
          background: rgba(0, 0, 0, 0.1);
          padding: 8px; }
          .checkout .container .checkout-order-summary .customer-info .form-group .sub-head i {
            margin: 0 5px 0 0; }
        .checkout .container .checkout-order-summary .customer-info .form-group input, .checkout .container .checkout-order-summary .customer-info .form-group select, .checkout .container .checkout-order-summary .customer-info .form-group textarea {
          display: inline-block;
          padding: 0 0 15px 0;
          border: none;
          border-bottom: 1px solid #535353;
          float: left;
          width: 250px;
          margin: 0 30px 40px 0; }
        .checkout .container .checkout-order-summary .customer-info .form-group .delivery {
          margin: 0 0 20px 0; }
          .checkout .container .checkout-order-summary .customer-info .form-group .delivery p {
            opacity: 0.6; }
        .checkout .container .checkout-order-summary .customer-info .form-group .radio {
          align-items: center;
          margin: 0 0 15px 0; }
          .checkout .container .checkout-order-summary .customer-info .form-group .radio label {
            margin-left: 10px; }
          .checkout .container .checkout-order-summary .customer-info .form-group .radio img {
            width: 70px;
            display: block;
            margin: 0 0 0 10px; }
        .checkout .container .checkout-order-summary .customer-info .form-group .delivery-method input, .checkout .container .checkout-order-summary .customer-info .form-group .delivery-method select, .checkout .container .checkout-order-summary .customer-info .form-group .momo input, .checkout .container .checkout-order-summary .customer-info .form-group .momo select, .checkout .container .checkout-order-summary .customer-info .form-group .cash-on-delivery input, .checkout .container .checkout-order-summary .customer-info .form-group .cash-on-delivery select {
          float: none;
          margin: 0;
          display: inline;
          width: 0; }
        .checkout .container .checkout-order-summary .customer-info .form-group .momo .sub-head {
          margin: 25px 0 25px 0;
          display: block;
          background: none;
          padding-left: 0; }
        .checkout .container .checkout-order-summary .customer-info .form-group .cash-on-delivery {
          margin: 40px 0 0 0; }
          .checkout .container .checkout-order-summary .customer-info .form-group .cash-on-delivery .sub-head {
            background: none;
            padding-left: 0; }
    .checkout .container .order-summary .shopping-items strong {
      margin: 0 0 35px 0;
      display: block; }
    .checkout .container .order-summary .shopping-items figure {
      margin: 0 10px 20px 0;
      display: inline-block;
      text-align: center;
      width: 150px; }
      .checkout .container .order-summary .shopping-items figure a {
        margin: 0 3px;
        color: #333333;
        opacity: 0.5;
        transition: 0.3s; }
        .checkout .container .order-summary .shopping-items figure a:hover {
          opacity: 1;
          color: #333333; }
          .checkout .container .order-summary .shopping-items figure a:hover:nth-child(2) {
            color: #F350FF; }
    .checkout .container .order-summary .shopping-items .description h3 {
      font-size: 1.3rem;
      margin: 0 0 15px 0; }
    .checkout .container .order-summary .shopping-items .description ul li {
      font-size: 0.9rem;
      width: 20ch;
      margin: 0 0 10px 0;
      color: #c0c0c0; }
      .checkout .container .order-summary .shopping-items .description ul li span {
        color: #535353; }
    .checkout .container .order-summary .subtotal {
      margin: 10px 0 0 0; }
      .checkout .container .order-summary .subtotal strong {
        margin: 0 0 20px 0;
        display: block;
        padding: 5px;
        background: #400f55;
        color: rgba(255, 255, 255, 0.85); }
      .checkout .container .order-summary .subtotal p {
        font-size: 0.9rem;
        color: #c0c0c0; }
        .checkout .container .order-summary .subtotal p span {
          color: #333333;
          font-weight: bold;
          display: block; }
      .checkout .container .order-summary .subtotal .total span {
        font-size: 2rem;
        display: block;
        margin: 0 0 30px 0;
        color: #F350FF; }

.login-register {
  height: 90vh;
  background: url("../img/stepsbg.jpg") no-repeat center center;
  background-size: cover;
  position: fixed;
  right: 0;
  left: 0; }
  .login-register .container {
    max-width: 1800px;
    justify-content: center;
    align-items: center;
    min-height: 700px; }
    @media screen and (width: 320px) {
      .login-register .container {
        min-height: 520px; } }
  .login-register .login {
    background: rgba(255, 255, 255, 0.95);
    padding: 60px 80px 120px 80px;
    -webkit-box-shadow: 0 4px 55px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 4px 55px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 55px -6px rgba(0, 0, 0, 0.75);
    position: relative; }
    @media screen and (max-width: 600px) {
      .login-register .login {
        width: 98%;
        padding: 40px 40px 100px 40px; } }
    @media screen and (max-width: 320px) {
      .login-register .login {
        padding: 20px 20px 60px 20px; } }
    .login-register .login h2 {
      margin: 0 0 35px 0; }
    .login-register .login input {
      display: block;
      border: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      background: none;
      margin: 0 0 20px 0;
      padding: 15px 0;
      font-size: 1.2rem;
      width: 350px; }
      @media screen and (max-width: 600px) {
        .login-register .login input {
          font-size: 1rem;
          width: 98%; } }
    .login-register .login span a {
      text-decoration: none;
      font-size: 0.8rem;
      display: inline-block;
      margin: 0 0 0 10px;
      color: #333333; }
    .login-register .login .signup a {
      display: block;
      width: 100%;
      text-align: center;
      background: #400f55;
      padding: 10px;
      position: absolute;
      left: 0;
      bottom: 0;
      color: rgba(255, 255, 255, 0.85);
      text-decoration: none;
      transition: 0.3s; }
      .login-register .login .signup a:hover {
        opacity: 0.7; }
